* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* ------------------
    header and nvbar 
------------------- */
header {
  background-color: aliceblue;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  font-size: 27px;
  justify-content: space-evenly;
  align-items: center;
}

header nav {
  width: 75%;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 5px 15px;
}

.logo a {
  padding: 0 15px;
}

/*-----------
      main 
----------- */
main .container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
}

article {
  display: grid;
  column-gap: 35px;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 10px;
  align-items: center;
}

h3,
p {
  margin: 10px 0;
}
